.background {
    background-image: url('../assets/bg-shadow.png');
    background-size: cover;
    background-position: center;  
  }
.active{
  background-color: #E7FE29;
  color: black;
}
.background-2{
  background-image: url('../assets/bg-shadow.png');
  background-size: cover;
    background-position: center;
    width: 100%; 
    margin: 0 auto;
    border-radius: 20px;
    top: -180px;
    right:10%;
    padding: 20px;
}
